<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('partials/header') %>
        <title>Ask</title>
</head>

<body>

    <%- include ('partials/navbar') %>
        <div class="container mt-5">
            <div class="card">
                <div class="card-header">
                    <h3>Make a question</h3>
                </div>
                <div class="card-body">
                    <form action="/criarpergunta" method="POST">
                        <div class="mb-3">
                            <label>Title</label>
                            <input type="text" placeholder="Titulo" class="form-control" name="title" />
                        </div>
                        <div class="mb-3">
                            <label>Description</label>
                            <textarea placeholder="Describe your question" class="form-control"
                                name="description"></textarea>
                        </div>
                        <button class="btn btn-success">Ask</button>
                    </form>
                </div>
            </div>

        </div>
</body>
<%- include ('partials/scripts') %>

</html>