<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('partials/header') %>
        <title>Index</title>
</head>

<body>
    <%- include ('partials/navbar') %>
    <h1>This is the index page</h1>

</body>
<%- include ('partials/scripts') %>
</html>